<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
	id="WebApp_ID" version="2.5">
	
	<display-name>pushdemo</display-name>
	<!--
    注意，缺省不需要修改<url-pattern>/pushlet.srv</url-pattern>，如果修改，
    需要在对应的js文件中也要修改。pushlet缺省就是通过pushlet.srv触发servlet的。
    -->
    <servlet>
        <servlet-name>pushdemo</servlet-name>
        <servlet-class>
            com.wondersgroup.eda.servlet.Pushlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>pushdemo</servlet-name>
        <url-pattern>/eda.srv</url-pattern>
    </servlet-mapping>
    
    <welcome-file-list>
        <welcome-file>systeminfo.jsp</welcome-file>    
    </welcome-file-list>
</web-app>